body {
    display: flex;
    min-height: 100vh;
}

aside {
    background-color: rgb(27, 24, 24);
    color: white;
    min-width: 320px;

    .menu {
        .menu-item {
            margin-bottom: 10px;

            a {
                color: #626874;
                padding: 10px 20px;
                border-radius: 8px;
                display: block;

            }

            &.active {
                a {
                    background-color: rgba(85, 81, 81, 0.3);
                    color: white;
                }
            }

            &:hover {
                a {
                    background-color: rgba(124, 116, 116, 0.4);
                    color: white;
                }
            }

        }
    }
}

#right-side {
    flex: 1;

    // header {}

    main {
        background-color: $body-bg;
    }
}